
/* ----header_section_styles ----*/

.header{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.header-11 li{
    list-style: none;
}
.header-11{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.header-2{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.header-3{
    padding: 10px 15px 10px 15px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}   
.nav-img{
    width: 25px;
    height: 20px;
}
.img-logo{
    width: 60px;
    height: 30px;
}
.h-text{
    color: #FF42A5;
    font-size: 40px;
}
.h4{
    font-size: 40px;
}


/* ----main-section-styles----*/

main{
    background: #f4ebeb;
}

/* section-1_styles */

.section-1{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-1-sub{
    align-items: center;
    justify-content: center;
}
.img-1{
    width: 100%;
    height: 100%;
}
.h3{
    color: #0B0223;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}
.h2{
    color: #8758F1;
    font-size: 60px;
    text-transform: uppercase;
}

.btn-1{
    background-color: #FF42A5;
    color: white;
    padding: 21px 40px;
    border-radius: 30px;
    border: 0;
}
.btn-2{
    background-color: #4EC5F7;
    color: white;
    padding: 21px 40px;
    border-radius: 30px;
    border: 0;
}

/* section-2_styles */

.section-2{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.online-title{
    text-align: center;
}
.sec-2_imges{
    display: flex;
    gap: 15px;
}

/* section-3_styles */

.section-3{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec-3_title{
    margin-left: 150px;
    margin-bottom: 150px;
    text-align: right;
    width: 20%;
}
.sec-3_images-1{
    width: 100%;
    height: 100%;
}
.sec-3_images-2{
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 250px;
}

/* section-4_styles */

.section-4{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    
}
.sec-9-pics{
    width: 100px;
    height: 50px;
    flex-basis: 200px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: none;
    gap: 5px;
}
.pics-9{
    width: 40px;
    height: 20px;
}
.sec-9-text{
    font-size: 10px;
}

/* ----footer-section-styles ----*/

.footer{
    padding-bottom: 50px;
    background: #0B0223;
}
.foo-header-1, .foo-header-3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.foo-header-1 .h4{
    color: white;
}
.foo-header-2 ul, .foo-header-4 ul{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 35px;
}
.foo-header-2 li, .foo-header-4 li{
    color: white;
    list-style: none;
}
.foo-img{
    width: 30px;
    height: 30px;
}
.foo-header-5{
    text-align: center;
}
.foo-text{
    color: white;
    font-size: 12px;
}


/* ----responsive-querry ----*/

/* mobile devices */

@media screen and (max-width:576px) {
    .header, .header-2, .header-11{
        align-items: center;
        flex-direction: column;
    }
    .section-1{
        flex-direction: column;
    }
    .sec-2_imges{
        flex-direction: column;
    }
    .section-3{
        align-items: center;
        flex-direction: column;
    }
    .section-4{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .sec-9-pics{
        width: 300px;
        flex-basis: 150px;
        gap: 10px;
    }
    .footer{
        flex-direction: column;
    }

}
